html
    head
        title Simple template
    body
        style
            include ./style.css
        div#root
            if(result && result.metaData && result.rows)
                table(border='2')
                    tr
                        each d in result.metaData
                            th=d.name
                    each row in result.rows
                        tr
                            each d in row
                                td=d
            else
                p Nie ma tabeli