html
html
    head
        title Dodawanie Kierunku
    body
        form(action = "/dodaj/Kierunek", method = "POST")
            div
                label(for = "nazwa") Nazwa:
                input(name = "nazwa" value = "")
            br
            div
                label(for = "wydzial") Wydział:
                    select(name="wydzial")
                        each row in wydzialy.rows
                            option(value=row[1]) #{row[0]}
            br
            div
                div
                    p Stacjonarne:
                        input#s(type='checkbox' name='stacjonarne' onclick='showOptions("s","stacjonarne")' checked)
                    div#stacjonarne(hidden)
                        p I stopień:
                            input#s1(type='checkbox' name='s1' onclick='showOptions("s1","s1i")' checked)
                        div#s1i
                            p Liczba semestrów:
                                input#s1l(name = "s1l" value = "7" type="number" min="1" max="10")
                            p Semestr rozpocznający:
                                input#s1r(name = "s1r" value = "1" type="number" min="1" max="10")
                        p II stopień:
                            input#s2(type='checkbox' name='s2' onclick='showOptions("s2","s2i")' checked)
                        div#s2i
                            p Liczba semestrów:
                                input#s2l(name = "s2l" value = "3" type="number" min="1" max="10")
                            p Semestr rozpocznający:
                                input#s2r(name = "s2r" value = "8" type="number" min="1" max="10")
                div
                    p Niestacjonarne:
                        input#n(type='checkbox' name='niestacjonarne' onclick='showOptions("n","niestacjonarne")')
                    div#niestacjonarne(hidden)
                        p I stopień:
                            input#n1(type='checkbox' name='n1' onclick='showOptions("n1","n1i")')
                        div#n1i
                            p Liczba semestrów:
                                input#n1l(name = "n1l" value = "7" type="number" min="1" max="10")
                            p Semestr rozpocznający:
                                input#n1r(name = "n1r" value = "1" type="number" min="1" max="10")
                        p II stopień:
                            input#n2(type='checkbox' name='n2' onclick='showOptions("n2","n2i")')
                        div#n2i
                            p Liczba semestrów:
                                input#n2l(name = "n2l" value = "3" type="number" min="1" max="10")
                            p Semestr rozpocznający:
                                input#n2r(name = "n2r" value = "8" type="number" min="1" max="10")

            button(type = "submit") Dodaj Kierunek
script.
    function showOptions(a,b) {
        var box =document.getElementById(a);
        var par =document.getElementById(b);
        par.hidden=!box.checked;
    }
    document.addEventListener("DOMContentLoaded", function (event) {
        showOptions("s", "stacjonarne");
        showOptions("s1", "s1i");
        showOptions("s2", "s2i");
        showOptions("n1", "n1i");
        showOptions("n2", "n2i");
        showOptions("n", "niestacjonarne");
    });