html
html
    head
        title Dodawanie Osób
    body
        form(action = "/dodaj/Osoby", method = "POST")
            div
                label(for = "imie") Imie:
                input(name = "imie" value = "")
            br
            div
                label(for = "nazwisko") Nazwisko:
                input(name = "nazwisko" value = "")
            br
            div
                label(for = "pesel") PESEL:
                input(name = "pesel" value = "")
            br
            div
                label(for = "typ") Typ:
                    select(name="Typ", onchange="switchOptions(this)")
                        each type in ['Student','Teacher']
                            option(value=type) #{type}
            br
            div
                div
                    label(for = "mod1")#mod1 Strona grupy:
                    input(name = "mod1" value = "")
                br
                div
                    label(for = "mod2")#mod2 Grupa ID:
                    input(name = "mod2" value = "")
            br
            button(type = "submit") Dodaj Osobe

            script
                include osobySwitcher.js